:root {

    /* Special */
    --background: #0d1321;
    --foreground: #c2c4c7;

    /* Colors */
    --color0: #0d1321;
    --color1: #4362aa;
    --color2: #606da9;
    --color3: #8279aa;
    --color4: #a77c9f;
    --color5: #af5d72;
    --color6: #b43840;
    --color7: #c2c4c7;
    --color8: #494e58;
    --color9: #4362aa;
    --color10: #606da9;
    --color11: #8279aa;
    --color12: #a77c9f;
    --color13: #af5d72;
    --color14: #b43840;
    --color15: #c2c4c7;

}
